.features-tabs {
	text-align: center;
	margin-bottom: .5em;
}

.features-tabs__icon {
	padding: .3em;
}

.features-tabs__icon .fa-circle {
	color: #49D49D;
}

.features {
	height: 800px;
	background-color: #f2f2f2;
	box-shadow: 0 2px 6px .3px rgba(0, 0, 0, .3);
}

.features__left,
.features__right {
	height: 400px;
}

.features__left {
	background-color: #2EAEBD;
}

@media screen and (min-width: 720px) {

	.fusion-container {
		padding: 0 10%;
		margin-top: 25vh;
	}

	.features {
		height: 400px;
	}

	.features__left,
	.features__right {
		width: 50%;
	}

	.features__left {
		float: left;
	}

	.features__right {
		float: right;
	}
}
